.contact{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    height: 100%;
}
h5{
    text-align: center;
    font-weight: bolder;
}
.ant-list-item  {
    background: #ebe7e7;
    border-radius: 9px;
}
