*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

.App {
 background-image: linear-gradient(180deg,#05060B,#1E183C); 
 width: 100%;
 padding: 40px 100px;
}
.row {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 16px;
  margin-top: 16px;
}
.row_2{
  display: grid;
  grid-template-columns: repeat(2,1fr);
grid-gap: 8px;
margin-top: 8px;
}

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
  border-radius: 25px;
  font-size: 10px;
}
h5{
  text-align: center;
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.ant-list-item-meta-title, .ant-list-item-meta-description  {
  font-size:  12px;
}



@media (max-width:769px){
  .App {
    padding:  20px;
  } 
  .row {
    grid-template-columns: 100%;
  }
}